main {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-row {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.board-column {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 5vh;
  height: 5vh;
}
